
body{
    background-color: #F5F5F5;
}
#home{
    min-height: 60vh;
}

.bigger-area{
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 1vw;

}

.sidebar-1{
        border-radius: 5px;
}

.carousel-1{
    border-radius: 5px;
    height: 50vh;
}

.img-h{
    height: 50vh;
    border-radius: 5px;
}

.sidebar-2{
}

.simp-card h4{
    font-weight: 500;
}

.sidebar-2 .simp-card{
    height: 24vh;
}

.sidebar2-card1{
    border-radius: 5px;
    min-height: 16vh;
}

.sidebar2-card2{
    background-color: #080842;
    border-radius: 5px;
    min-height: 16vh;
}

#product-header{
    height: 6vh;
    background-color: #c66108;
    color: #fff;
    padding: 1.25vh 0 0 2vh;
}

.product-card a{
    text-decoration: none;
    color: #23272b;
}

.product-card:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.form-control{
    border-radius: 0;
}
.btn{
    border-radius: 0;
}

.btn:focus{
    box-shadow: none;
}

.form-control:focus{
    box-shadow: none;
}

.search-field{
    width: 40vw !important;
    transition: 0.5s;
    border: 1px #231e1e solid;
}

.search-field:focus{
    border-radius: 2vw;
    border: 1px #c66108 solid;
}



.dropdown-menu{
    border-radius: 0;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.1);
    transition: ease-in-out 0.5s;

}



@media screen and (max-width:768px) {
    .bigger-area{
        display: block;
        height: auto;
    }
    .sidebar-1{
        display: block;
        width: auto;
}
    .sidebar-2 .simp-card{
    min-height: 16vh;
}

.carousel-1{
    background-color: #fff;
    min-height: 50vh;
}

.sidebar2-card2{
    background-color: #080842;
    border-radius: 5px;
    min-height: 18vh;
}
.sidebar2-card1{
    background-color: #080842;
    border-radius: 5px;
    min-height: 18vh;
}
.search-field{
    width: 60vw !important;
    transition: 0.5s;
}
}